.name {
    font-size: 40px;
    padding-bottom: 4px;
    font-weight: 500;
}

.contactInfo {
    padding: 4px 0px 4px 0px ;
}

.summary {
    padding: 4px 0px 4px 0px ;
}

.education {
    padding: 4px 0px 4px 0px ;
}

.title {
    font-weight: bold;
}

.degree {
    font-weight: bold;
}

.projectName {
    font-weight: bold;
}